body {
	margin: 0;
	padding: 0;
	text-align: center;
}

#wrapper {
	margin: 0 auto;
	width: 1000px;
}

#main {
	width: 100%;
}

.title {
	font-size: 18px;
	font-weight: bold;
}

.input-textarea {
	width: 400px;
	height: 400px;
}

.output-html {
	width: 400px;
	height: 400px;
}